/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: white;
    padding: 30px;
    width: 350px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
}

.login-box h2 {
    color: #2d4cc8;
    margin-bottom: 5px;
}

.login-box p {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

.logo {
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
}

.input-box {
    position: relative;
    margin-bottom: 15px;
}

.input-box i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.input-box input {
    width: 100%;
    padding: 10px;
    padding-left: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login-btn {
    background-color: #2d4cc8;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #1f3a99;
}

.forgot-password {
    font-size: 12px;
    margin: 10px 0;
}

.forgot-password a {
    color: #2d4cc8;
    text-decoration: none;
}

.register-btn {
    background-color: transparent;
    color: #2d4cc8;
    border: 1px solid #2d4cc8;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.register-btn:hover {
    background-color: #2d4cc8;
    color: white;
}
